:root {
    --primaryColor: #1B3B48;
    --primaryColorLigth: #03657F;
    --secondaryColor: #ffce00;
    --backgroundcolor: #0387ac;
    --blanco: #fff;
    --negro: #000;
    --fuentePrincipal: 'Saira Semi Condensed', sans-serif;

}

/* Necesarios proyecto */

html {
    font-size: 62.5%;
    box-sizing: border-box;
    scroll-snap-type: y mandatory;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* Globales */

body {
    font-size: 1.6rem;
    /* 1rem = 10px */
    font-family: var(--fuentePrincipal);
    background-color: var(--blanco);
    line-height: 1.5;
    margin: auto;
}

p {
    font-size: 1.5rem;
    font-family: var(--fuentePrincipal);
    color: var(--primaryColorLigth);
    margin: 0rem;
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
}

.contenedor {
    max-width: 120rem;
    margin: 0 auto;
    height: 100%;
}

h1,
h2,
h3 {
    text-align: center;
    color: var(--secondaryColor);
    font-family: var(--fuentePrincipal);
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3.2rem;
}

h3 {
    font-size: 2.4rem;
}

.main_body{
    height: 100%;
}

/* Utilidades */

.con_border{
    border-color: var(--primaryColor);
    border-style: solid;
    padding: 1rem;
}

.no-margin{
    margin: 0;
}

.no-padding{
    padding: 0;
}

.centrar-texto{
    text-align: center;
}

/* Header */
.header {
    display: flex;
    background-color: var(--primaryColor);
    width: 100%;
    padding: 0 2rem;
}

.barra {
    display: flex;
    background-color: var(--primaryColor);
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.header__img {
    max-height: 100%;
}


/* Navegacion contenedor */

.contenedor__img {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    width: 25%;
}


/* Formulario */
.formulario__main {
    display: flex;
    flex-direction: column;
    background-color: var(--primaryColor);
    /* min utiliza el valor mas pequeño, entre los dos parametros (te puedes ahorra media queries)*/
    width: min(45rem, 100%);
    /* utilizar margin 0 auto para centrar en el caso de que no tengamos un display flex como padre */
    margin: 0 auto;
    padding: 2rem;
    border-radius: 2.5rem;
    box-shadow: 0.6rem 0.3rem 2rem 0.5rem rgba(0, 0, 0, 0.3);

}

.formulario__campo {
    grid-column: 1/2;
    margin: 0.3rem auto;
    width: 100%;
    text-align: justify;
    display: flex;
    justify-content: space-evenly;
}

.formulario__campo label {
    color: var(--blanco);
    margin: auto 2rem;
    font-weight: bold;
}

.formulario__campo input {
    border-radius: 0.5rem;
    padding: .5rem;
    border-color: var(--primaryColor);
    width: 50%;
}

.formulario__campo--enviar {
    margin-top: 3rem;
    background-color: var(--blanco);
    color: var(--primaryColorLigth);
    padding: 1rem 2rem;
    width: 15rem;
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 2rem;
    cursor: pointer;
    justify-content: center;
    text-align: center;
}

.formulario__campo--enviar:hover {
    background-color: var(--secondaryColor);
    color: var(--blanco);
}

/* Footer */

.main_footer{
    height: 9rem;
    width: 100%;
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: var(--primaryColor);
}

.footer__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    width: 100%;
    height: 10rem;
}

.footer__principal {
    position: fixed;
    bottom: 0;
}

.footer {
    
}

.footer__texto {
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    color: var(--blanco);
    margin: 0 2rem;
}

.footer__imagen {
    width: 30rem;
    margin-right: 2rem;
}

/*Banner Cuadro de mandos*/

@media (min-width: 768px) { 
    .banner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 0 2rem;
    }
    
}

@media (min-width: 768px) { 
    .banner__navegacion{
        display: flex;
        gap: 2rem;
    }
}

.navegacion__enlace{
    display: block;
    font-weight: 500;
    text-align: center;
    font-size: 1.8rem;
    color: var(--primaryColorLigth);
}

.navegacion__enlace:hover{
    color: var(--primaryColor);
    font-weight: bold;
}


/* Cuadro de mandos */

.principal{
    display: flex;
    margin: auto 2rem;
    gap: 3rem;
}

/* Banner izquierda cuadro */

.principal__bannerizq{
    width: 30%;
}

.formulario{
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
}
.formulario__main fieldset{
    border: none;
}
.formulario__main legend{
    text-align: center;
    font-size: 2.5rem;
    font-variant: small-caps;
    color: var(--secondaryColor);
    margin-bottom: 1.5rem;
}

.formulario__campo--fecha label{
    justify-content: left;
    color: var(--primaryColorLigth);
    font-weight: bold;
}

.formulario__buscar{
    margin: 0 auto;
    
}

.formulario__buscar button{
    font-family: var(--fuentePrincipal);
    font-size: 2rem;
    border-radius: 3rem;
    margin-top: 2rem;
    padding: 0.2rem 5rem;
    border-style: none;
    background-color: var(--primaryColor);
    color: var(--blanco);
    cursor: pointer;
}

/* Cuadro principal tablas */

.principal__tablas{
    width: 70%;
}

.tabla{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tabla__nombre{
    text-align: center;
    font-weight: bold;
    color: var(--primaryColor);
}

.main-row, .main-column{
    background-color: var(--primaryColorLigth);
    border: solid;
    padding: 1rem;
    border-color: var(--primaryColor);
    color: var(--blanco);
    width: 0.1rem;
}

.data-row, .data-column{
    border: solid;
    padding: 1rem;
    white-space: pre-line;
    width: 5rem;


}

